@import url("./Global.css");

body {

    gap: 25px;

}

div {

    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

div table {

    background-color: transparent;
    border: 1px solid var(--contrast-color);
    border-spacing: 10px;

}

div table thead th, div table tbody td {

    border: 1px solid var(--contrast-color);
    font-size: 20px;
    text-align: center;
    padding: 15px;

}

div table thead th {

    background-color: var(--contrast-color);
    color: var(--page-color);

}

div table tbody td {

    background-color: transparent;
    color: var(--contrast-color);

}

div table tbody td a {

    font-size: 20px;
    padding: 5px;

}